.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    border: 50px color red;
}

.calculator button{
    width: 100px;
    padding: 20px;
    margin: 5px;
    box-sizing: border-box;
}


body{
    background-color: #2e3031;
}
.calculator input{
    margin-right: 10px;
    height: 50px;
    width: 25%;
    border: 2px color black;
}